@import "~@/util/util.less";

.squareButton {
	background: rgba(255, 255, 255, 1);
	padding: 0.8rem 2.5rem;
	cursor: pointer;
	border-radius: 4px;
	font-family: fontm;
	font-weight: 600;
	font-size: 1rem;
	border: 0.0625rem solid #e5e5e5;

	&.reverse {
		background: #313131;
		color:rgba(255, 255, 255, 1);
	}
}

.squareButton:hover {
	animation: buttonHoverAnimation 1s ease 0s 1;
	background: rgba(0, 0, 0, 0.15);

	&.reverse {
		animation: none;
		background: #313131;
	}
}

.squareButton:focus {
	outline: none;
}

@keyframes buttonHoverAnimation {
	from {
		background: #ffffff;
	}
	to {
		background: rgba(0, 0, 0, 0.15);
	}
}