@import "~@/util/util.less" ;

.formContainer {
	display: flex;
	max-width: 25rem;
	margin: 0 auto;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;

	.title {
		font-size: 3rem;
		font-family: fontm;
		font-weight: 500;
		padding-bottom: 1rem;
		margin-bottom: 0;
		border-bottom: 2px solid #313131;
	}

	.text {
		margin-top: 20px;
	}
	.iconContainer {
		display: flex;
		justify-content: center;
		.icon {
			font-size: 20px;
		}
	}
}

@media (max-width: @screen-sm) {
	.formContainer {
		max-width: 100%;
		padding: 1rem 3rem;
	}
}