.navContainer {
    .text {
        font-family: fontm;
        font-weight: 600;
        font-size: .875rem;
    }

    :global {
        .ant-menu-inline {
            border-right: none;
        }

        .ant-menu-submenu-title {
            padding-left: 0 !important;
        }

        .ant-menu-item-only-child {
            padding-left: 0.4rem !important;
        }

        .ant-divider-horizontal {
            margin: 1rem 0 0.5rem 0;
        }

        .ant-divider {
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}